= render 'layouts/user_header'
.wrapper

  h1 User Page

  p#notice
  = notice

  p
    strong Name:
    = @user.name

  p
    strong Email:
    = @user.email

  = link_to 'Edit', edit_user_path(@user)
  = link_to 'Back', users_path
  br
  = link_to 'グループ作成', new_group_path

footer.hoge_footer フッター
